.postContainer{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 6.5em;
}

.postContainer__box{
    width: 25vw;
    height: 25vh;
    border: 1px solid black;
    margin: .5em;
    padding: 4em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: white;
}

.postContainer__box:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.5s;
}

.postContainer__titleSection{
    padding-bottom: 2em;
    border-bottom: 1px solid black;
}

.postContainer__bottom{
    display: flex;
    justify-content: space-between;
}

.postContainer__button{
    border: none;
    width: 2em;
    height: 1.5em;
}