.loading{
display: flex;
justify-content: center;
align-items: center;
min-height: 100vh;
min-width: 100vw;
background-color: #1e272e;
-webkit-box-reflect: below -12px linear-gradient(transparent, rgba(0,0,0,0.2));
}

.loading__word{
    font-family: consolas;
    display: inline-block;
    color: #fff;
    font-size: 2em;
    text-transform: uppercase;
    animation: animate 1s ease-in-out infinite;
}

.loading__word-1{
    animation-delay: calc(0.1s * 1);
}

.loading__word-2{
    animation-delay: calc(0.1s * 2);
}

.loading__word-3{
    animation-delay: calc(0.1s * 3);
}

.loading__word-4{
    animation-delay: calc(0.1s * 4);
}

.loading__word-5{
    animation-delay: calc(0.1s * 5);
}

.loading__word-6{
    animation-delay: calc(0.1s * 6);
}

.loading__word-7{
    animation-delay: calc(0.1s * 7);
}

.loading__word-8{
    animation-delay: calc(0.1s * 8);
}

.loading__word-9{
    animation-delay: calc(0.1s * 9);
}

.loading__word-10{
    animation-delay: calc(0.1s * 10);
}
@keyframes animate{
    0%{
        transform: translateY(0px);
    }
    20%{
        transform: translateY(-20px);
    }
    40%,100%{
        transform: translateY(0px);
    }
}